@using (Html.BeginForm("Create", "ImageGroups", null, FormMethod.Post, new { enctype = "multipart/form-data", id = "picture-form" }))
{
    @Html.AntiForgeryToken()
    <div>
        <label for="Name">Title:</label>
        <input class="form-control" type="text" name="Name" id="Name" />
    </div>
    <div class="">
        <label for="Description">Description:</label>
        <input class="form-control" type="text" name="Description" id="Description" />
    </div>
    <div>
        <input style="display:none;" type="file" onchange="readURL(this)" name="imageValue" id="file" multiple />
        <button class="custom-button" id="upload-file">Choose Photos</button>
        <span id="back">Back</span>
        <input name="images" type="hidden" id="hidden-pictures" />
    </div>
    <input id="enter-button" class="form-control" type="submit" value="Upload" />
}
