@model IEnumerable<MayaJapan.Models.ImageGroup>
@{
    ViewBag.Title = "Home";
}


@{

}
<div class="image-container" id="main-image">

</div>

<div class="row" id="content">
    <div class="col-md-6">
        <h2>What photos have I taken today?</h2>
        <div class="image-form">
            <button class="btn btn-default" id="add-photos">Add some photos</button>
        </div>


    </div>
    <div class="col-md-6 image-preview">
        <div class="row">
            <div class="col-md-6 preview-textbox">
                <span class="image-preview-text image-preview-name" id="preview-name">
                </span>
                <span class="image-preview-text image-preview-description" id="preview-description">
                </span>
            </div>
            <label id="img-grid-label" for="img-grid">Photos</label>
            <div class="col-md-6 image-grid" id="img-grid">
            </div>
        </div>
        <button class="btn btn-default" id="save-images" type="submit"></button>
    </div>
    <div id="temp"></div>
</div>
<img id="img" src="" />
<div id="base"></div>
@Scripts.Render("~/Scripts/Index.js")
<script type="text/javascript">
    $(function () {
        $("#add-photos").click(function (e) {
            $("#main-image").slideUp();
            $("#temp").load("@Url.Action("Form")", function () {
                loadForm();
            });
        });

    });

    function readImage(input) {
        if (input.files) {
            var images = [];
            $.each(input.files, function (index, object) {
                var FR = new FileReader();
                FR.onload = function (e) {
                    images.push(fakeImages[index]);
                    if (images.length === input.files.length) {
                        // All images have been parsed 
                        buildImagesIntoForm(images);
                    }
                };
                FR.readAsDataURL(object);
            });
        }
    }

    function buildImagesIntoForm(images) {
        $("#img-grid-label").show();
        $("#img-grid").show();
        $.each(images, function (i, element) {
            $("#hidden-pictures").val(function (i, val) {
                return val + (!val ? "" : ", ") + element;
            });
            $('#img-grid').prepend("<img src='" + element + "' class='preview-image' />");
        });
        // Tell the user that images can now be saved.
        imagesLoaded = true;
        checkAddButton();
    }



    function imgurTest(input) {
        var base64 = convertImgToBase64URL(input.files[0], sendToImgur);

    }

    function sendToImgur(img) {
        var imageUrl;
        $.ajax({
            url: "https://api.imgur.com/3/image",
            type: "POST",
            headers: {
                Authorization: "Client-ID 0aa4f7a77734f59",
                Accept: "application/json"
            },
            async: false,
            data: {
                image: img.split("base64,")[1],
                type: "base64"
            },
            success: function (result) {
                imageUrl = result.data.link;
            }

        });
        return imageUrl;
    }

</script>