body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: "Sans-Serif";
    padding-top: 60px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.navbar {
    background-color: #99CCCC;
}

.jumbo-image {
    width: 300px;
    height: auto;
}

#temp {
    display: none;
}

.preview-textbox {
    padding: 20px;
}

.image-preview {
    margin-top: 20px;
    background-color: #9DD9DF;
    padding: 10px;
    display: none;
    box-shadow: 2px 2px 2px #888888;
}

.image-preview-text {
    margin-bottom: 10px;
    font-size: 1.2em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.1;
    display: block;
}

.image-preview-name {
    font-size: 1.5em;
    font-weight: bold;
}

.image-preview-description {
    font-size: 15px;
    font-style: italic;
}

.preview-image {
    width: 125px;
    height: 125px;
}

.image-grid {
    padding: 10px;
    background-color: #EEE;
    box-shadow: 2px 2px 2px #888888;
    display: none;
}

    .image-grid img {
        padding: 5px;
    }

#img-grid-label {
    display: none;
}

.row {
    margin-right: unset;
    margin-left: unset;
}

#save-images {
    background-color: #FFD7B3;
    display: none;
}
#enter-button {
    display: none;
}
.custom-button {
    margin-top: 25px;
    background-color: #68B9C1;
    color: #FFF;
    font-size: 15px;
    height: 40px;
    width: 125px;
    line-height: 40px;
    text-align: center;
    border: 0;
    transition: all 0.3s ease 0s;
}

#header-content img {
    height: 300px;
    max-width: 600px;
    margin: 20px;
    margin-left: 0px;
    box-shadow: 3px 3px 1px #ccc;
  -webkit-box-shadow: 3px 3px 1px #ccc;
  -moz-box-shadow: 3px 3px 1px #ccc;
}
#header-content:first-child {
    border-right: thin #ccc;
}
.icon-header {
    font-size: 3em;
    line-height: 3em;
}
.japan-header .glyphicon {
    font-size: 10em;
    margin-left: 25%;
    color: #68B9C1;
    transition: all 0.3s ease 0s;
    align-content:center;
}
.japan-header .glyphicon:hover {
    color: #117079;
    cursor: pointer;
}
#back {
    margin-left: 10px;
    font-size: 1.5em;
    color: #117079;
}
#back:hover {
    cursor:pointer;
}
.action-link {
    padding-right: 10px;
    color: #EA8F3E;
    text-decoration: none;
    transition: all 0.5s;
}
.action-link:hover {
    color: #117079;
    text-decoration: none;
}
#countdown {
    display: inline;
}