@model IEnumerable<MayaJapan.Models.ImageGroup>

@{
    ViewBag.Title = "Grid";
    @Styles.Render("~/Content/Grid.css");
}
<h1>My Year in Japan so far...</h1>
<div id="photos">

    @foreach(var item in Model.OrderBy(a => Guid.NewGuid()))
    {
        foreach(var image in item.ImageValue)
        {

            var imgSrc = image.ImageUrl;
                <img src="@imgSrc" />
        }
    }
</div>

